.nav-text {
  display: block;
}
.myName {
  display: block;
}
.myName-small {
  display: none;
}
.fa {
  display: none;
}

aside {
  background: #212121;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 320px;
  overflow: hidden;
  z-index: 9999;
  box-shadow: inset -0.5px 0px 0px 0px #292d3e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  /*una animación para el incremento de tamaño de ancho*/
  transition: width 0.5s ease-out;
}

aside header {
  text-align: center;
}
aside header a {
  text-decoration: none;
}
aside span {
  display: block;
  margin-bottom: 0.5rem;
}
aside .Title,
.Subtitle {
  color: #fff;
}

aside .Title {
  font-size: 48px;
}
aside .Subtitle {
  font-size: 18px;
}

aside > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 36px;
  list-style: none;
}

aside > ul > li {
  display: block;
  width: 100%;
}

aside li > a {
  display: table;
  text-align: center;
  width: 100%;
  border-spacing: 0;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  transition: all 0.15s linear;
  text-decoration: none;
}

aside li:hover > a {
  color: #000;
  background-color: #fbc02d;
  transition: all 0.15s linear;
}

.social-media-link{
  padding:0.5rem;
  
}

.ocial-media-link{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.social-media-link{
  display: block;
}

.social-media-link ul {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  gap:2rem;
  padding: 0.35rem;
  text-decoration: none;

}

.social-media-link ul li {text-decoration: none; list-style:none;}
.social-media-link ul img{
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 15%;
}
.social-media-link ul li a:hover{
  box-shadow: inset -0.5px 0px 0px 0px #000;
  transition: all 0.5s ease-out;
}

/* for Large screens */
@media (min-width: 1283px) {
}

/*for desktop*/
@media (min-width: 1246px) and (max-width: 1281px) {

}

/*for Ipad on potrait*/
@media (min-width: 768px) and (max-width: 1282px) {
    .fa { display: block;}
    .myName {
      display: none;
    }
    .myName-small {
      display: block;
    }
    aside {
        width: 120px;
      transition: width 0.5s ease-out;
    }
    .nav-text {
      display: none;
    }

    .social-media-link-contact ul{
      display: flex;
      flex-direction: row;
      justify-items: center;
      align-items: center;
    }
  
    .social-media-link ul{
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
    }
}

/*for mobile and small Ipad*/
@media (min-width: 480px) and (max-width: 767px) {
  .fa {
    display: block;
    font-size: 22px;
  }
  .myName {
    display: none;
  }
  .myName-small {
    display: block;
  }

  .myName-small span{
    font-size: 24px;
  }
  aside {
    width: 60px;
    transition: width 0.5s ease-out;
  }
  .nav-text {
    display: none;
  }

  .social-media-link-contact ul{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }

  .social-media-link ul{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}

/*para mobile*/
@media (max-width: 480px) {
  .fa {
    display: block;
    font-size: 22px;
  }
  .myName {
    display: none;
  }
  .myName-small {
    display: block;
  }

  .myName-small span{
    font-size: 24px;
  }
  aside {
    width: 60px;
    transition: width 0.5s ease-out;
  }
  .nav-text {
    display: none;
  }

  .social-media-link-contact ul{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }

  .social-media-link ul{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  
}
