.introducing p {
  display: block;
  width: fit-content;
}
.scored-skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  gap: 2.5rem;
  justify-content: space-between;
}
.scored-skill section {
  width: 100%;
  padding: 2rem;
}

.scored-skill section > h3 {
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.level-90 {
  border-bottom: solid 1px #12f23a;
}
.level-90 {
  border-bottom: solid 1px #2c46a3;
}

.level-70 {
  border-bottom: solid 1px #8b8221;
}

.level-50 {
  border-bottom: solid 1px #d0452d;
}

.level-30 {
  border-bottom: solid 1px #a32bae;
}

.level-10 {
  border-bottom: solid 1px #55b227;
}

.level-section h3 {
  color: #fff;
}

/* .introducing, .skills{
   width: 480px;
} */

/*for mobile and small Ipad*/
@media (min-width: 480px) and (max-width: 767px) {
  .introducing p {
    display: none;
    width: fit-content;
  }

  .scored-skill {
    flex-wrap: wrap;
  }
}

/*para mobile*/
@media (max-width: 480px) {
  .introducing p {
    display: none;
    width: 220px;
  }

  .scored-skill {
    flex-wrap: wrap;
  }
}
