.section-body{
    display: flex;
    flex-direction: column;
    gap:3.5rem;
    flex-wrap: wrap;
    padding: 2rem;
    
}

.level-section{
    border-bottom: solid 1px #12f23a;
}

.level-section h3{
    color: #fff;
}

/* .introducing, .skills{
   width: 480px;
} */